<!-- <div mat-input-container md-no-float fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
  <input id="fileInput" #fileInput type="file" hidden accept="image/*" class="upload hidden" ngFileSelect (change)="procesarArchivo()">
  <button mat-raised-button (click)="clickEnInput()" type="button" class="ml-xs mat-orange">Seleccionar un Archivo</button>
  <span class="ml-xs">{{nombreArchivoLeido}}</span>
  <button mat-mini-fab color="warn" *ngIf="nombreArchivoLeido !== 'No hay archivos seleccionados'" type="button" (click)="borrarImagenCargada()">
  <mat-icon>close</mat-icon>  
  </button>
</div> -->